[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
nltk = "*"
pylint = "*"
autopep8 = "*"
rope="*"
ipdb = "*"

[packages]
sklearn = "*"
pandas = "*"
jupyter = "*"
ipykernel = "*"
tornado = "==5.1.1"

[requires]
python_version = "3.6.0"
